@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'manrope', sans-serif;
}
:root{
    --bg-color: #0f151a;
    --text-color: #ffffff;
    --main-color: #f53fa1;
    --other-color: #00ecff;
    --h1-font: 4.7rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
    background-image: linear-gradient(to bottom right,rgba(23, 1, 151, 0.336), black, rgba(116, 3, 150, 0.336));
    min-height: 100vh;
}
header{
    
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 30px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all ease .55s;
}


.navlist{
    display: flex;
}
.navlist a{
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    margin: 0 30px;
    transition: all ease .55s;
}
.navlist a:hover{
    color: var(--other-color)
}
.h-right{
    display: flex;
    align-items: center;
}
.h-right a{
    margin-right: 30px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--other-color);
    transition: alle ease .55s;
}

.h-right a:hover{
    color: var(--text-color);

}

#menu-icon{
    font-size: 37px;
    color: var(--main-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 0 12%;
}

.home{
    position: relative;
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-img img{
    width: 100%;
    height: 800PX;
}

.home-text span{
    padding: 11px 18px;
    background: #4c1432;
    border-radius: 10px;
    color: var(--main-color);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}
.home-text h1{
    font-size: 42px;
    font-weight: 800;
    line-height: 1.3;
    margin: 22px 0;
}

.home-text p{
    width: 100%;
    max-width: 400px;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 30px;
    margin-bottom: 35px;
}

.home-text i{
    height: 45px;
    width: 45px;
    background: var(--main-color);
    color: #4c1432;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    border-radius: 12px;
    margin-right: 18px;
    margin-bottom: 50px;
    transition: all ease .55s;
}

.home-text i:hover{
    background: #4c1432;
    color: var(--main-color);
    transform: scale(1.09);
}

.btn{
    display: inline-block;
    padding: 15px 22px;
    color: #4c1432;
    background-color: var(--other-color);
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid transparent;
    text-transform: uppercase;
    word-spacing: 5px;
    transition: all ease .55s;
}

.btn:hover{
    border: 1px solid var(--other-color);
    background: transparent;
    color: var(--other-color);
}

.btn22{
    color: var(--other-color);
    font-size: 16px;
    font-weight: 700;
    margin-left: 25px;
    text-transform: uppercase;
    word-spacing: 5px;
    transition: all ease .55s;
}

.btn22:hover{
    color: var(--text-color);
}

.social{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateY(-50%);
}

.social a{
    display: flex;
    align-items: center;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    transition: all ease .55s;
}

.social a:hover{
    transform: translateY(-4px) scale(1.08 );
}

@media (max-width: 1820px){
    header{
        padding: 15px 7%;
    }
    section{
        padding: 0 7%;
    }
}

@media (max-width: 1610px){
    :root{
        --h1-font: 4.2rem;
    }
    .home-img{
        height: 600px;
        width: 600px;
    }
    .home-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 1490px){
    :root{
        --h1-font: 3rem;
    }
    .home-img{
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 1180px){
    .social{
        display: none;
    }
    section{
        padding: 70px 7%;
    }
    .home{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .home-text{
        order: 2;
        width: 100%;
    }
    .home-text p{
        width: 100%;
        max-width: 800px;
    }
    .home-img{
        height: 420px;
        width: 420px;
        margin: 20px auto;
    }
}

@media (max-width: 950px){
    .navlist a{
        margin: 0 15px;
    }
}

@media (max-width: 780px){
    header{
        padding: 13px 5%;
    }
    section{
        padding: 60px 5%;
    }
    #menu-icon{
        display: block;
        font-size: 43px;
    }
    .navlist{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 70px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(32px);
        transition: all 0.5s ease-in-out;
    }
    .navlist a{
        display: block;
        padding: 0;
        margin: 0px 0px 22px 0px;
        font-size: 2rem;
    }
    .navlist.open{
        left: 0;
    }
}

@media (max-width: 530px){
    :root{
        --h1-font: 2.3rem;
    }
    .home-img{
        height: 400px;
        width: 400px;
        margin: 10px auto;
    }
}


.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: #f53fa1;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: #4c1432;
    opacity: 0,9;
}


.socialIcons a:hover{
    background-color: #4c1432;
    transition: 0.5s;
    transform: translateY(-4px) scale(1.08 );
}

.socialIcons a:hover i{
    color: #f53fa1;
    transition: 0.5s;
}

.footerBottom{
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}


.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid #f53fa1;
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 125px;
  }
  .wrapper h1{
    font-size: 36px;
    text-align: center;
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
  }
  .input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #00ecff;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder{
    color: #fff;
  }
  .input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  
  }
  .wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
  }
  .remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
  
  }
  .remember-forgot a{
    color: #fff;
    text-decoration: none;
  
  }
  .remember-forgot a:hover{
    text-decoration: underline;
  }
  .wrapper .btn{
    width: 100%;
    height: 45px;
    background: #f53fa1;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #4c1432;
    font-weight: 600;
  }
  .wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
  
  }
  .register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover{
    text-decoration: underline;
  }
 
 
/* Reset standaard stijlen en basisopmaak */



.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #c82333;
}

.quizgame-message {
    color: #0f151a;
}

.centered-box {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 3px solid var(--main-color);
    border-radius: 50px;
    background-color: transparent;
}

.game2body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    min-height: 100vh;
  
}
.game2h1 h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #fff;
}
.game2container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border: 3px solid #f53fa1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #00ecff;
    margin-bottom: 50px;

}
.input-container {
    margin-top: 20px;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 70%;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f53fa1;
    color: #4c1432;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: #45a049;
}
.result2, .score2 {
    font-size: 18px;
    margin-top: 10px;
    color: #00ecff;
}
.result2 {
    font-weight: bold;
    color: #45a049;
}
.score2 span {
    font-weight: bold;
}

.hint2{
    color:#45a049 
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.game-template {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    margin: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.game-template:hover {
    transform: scale(1.05);
}

.game-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.game-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.game-description {
    padding: 0 10px 20px;
}

.choose-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choose-button:hover {
    background-color: #0056b3;
}

.game-canvas {
    display: none;
    margin: 20px auto;
    border: 1px solid #ddd;
}

.show-canvas {
    display: block;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
}

.flag-game-container {
max-width: 500px;
margin: 0 auto;
margin-top: 50px;
padding: 20px;
border: 3px solid #f53fa1;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
color: #00ecff;
margin-bottom: 50px;
}

.flag-image {
max-width: 100%;
height: auto;
margin-bottom: 20px;
}

.game-button {
background-color: #f53fa1;
color: #4c1432;
border: none;
padding: 10px 20px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
margin: 5px;
}
.game-button:hover {
background-color: #d42f85;
}
.guess-input {
padding: 10px;
font-size: 16px;
border: 2px solid #f53fa1;
border-radius: 5px;
width: calc(100% - 24px); 
box-sizing: border-box;
}
.input-label {
display: block;
margin-bottom: 10px;
font-size: 18px;
}

.guess-input {
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
border: 2px solid #00ecff;
border-radius: 40px;
font-size: 16px;
color: #fff;
padding: 20px 45px 20px 20px;
}
.guess-input::placeholder {
color: #fff;
}

.centered-box {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 3px solid #f53fa1;
    border-radius: 50px;
    background-color: transparent;
}

.mo_friend_profile-container {
    padding-left: 842px;
}

.mo_friend_profile-badges-text- {
    padding-left: 600px;
}

.mo_friend_profile-badges-text-2 {
    padding-left: 620px;
}

.mo_friends-main-container {
    max-width: 900px;
    margin: 20px auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 4px solid #f53fa1;
}

.mo_friends-page-title {
    font-size: 36px;
    color: #00ecff;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}

.mo_friends-friends-section {
    margin-top: 40px;
}

.mo_friends-friend {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mo_friends-friend h2 {
    color: #000;
}

.mo_friends-friend-highscores {
    list-style: none;
    padding: 0;
}

.mo_friends-friend-highscores h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.mo_friends-friend-highscores li {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.mo_friends-friend a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #3498db;
    padding-right: 10px;
    font-size: 16px;
}

.mo_friends-friend a:hover {
    color: #2980b9;
}

.mo_friends-add-friend-section {
    margin-top: 40px;
}

.mo_friends-add-friend-section h2 {
    font-size: 24px;
    color: white;
}

.mo_friends-add-friend-section form {
    margin-top: 20px;
}

.mo_friends-add-friend-section label {
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    display: block;
}

.mo_friends-add-friend-section input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.mo_friends-add-friend-section .btn-3 {
    background-color: #00ecff;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.mo_friends-add-friend-section .btn-3:hover {
    background-color: white;
}

.mo-highscores_friend-section {
    margin-top: 40px;
    text-align: center;
}

.mo-highscores_friend-title {
    font-size: 24px;
    color: #00ecff;
}

.mo-highscores_friend-game-scores {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mo-highscores_friend-subtitle {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.mo-highscores_friend-scores-list {
    list-style: none;
    padding: 0;
}

.mo-highscores_friend-score-item {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.mo-highscores_friend-no-score {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}


#mo-profile-main-container {
    max-width: 900px;
    margin: 20px auto;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 4px solid #f53fa1;
}

#mo-profile-page-title {
    font-size: 36px;
    color: #00ecff;
    text-align: center;
    margin-bottom: 20px;
}

#mo-profile-change-password-section,
#mo-profile-change-username-section {
    margin-top: 40px;
}

#mo-profile-change-password-section h2,
#mo-profile-change-username-section h2 {
    font-size: 28px;
    color: #00ecff;
    margin-bottom: 15px;
}

#mo-profile-change-password-section input,
#mo-profile-change-username-section input {
    width: calc(100% - 22px);
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

#mo-profile-change-password-section button,
#mo-profile-change-username-section button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

#mo-profile-change-password-section button:hover,
#mo-profile-change-username-section button:hover {
    background-color: #2980b9;
}

#mo-profile-badges-section {
    margin-top: 40px;
}

#mo-profile-badges-section h2 {
    font-size: 28px;
    color: #00ecff;
    margin-bottom: 20px;
}

.mo-profile-badges-list {
    list-style: none;
    padding: 0;
}

.mo-profile-badges-list li {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mo-profile-badges-list h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.mo-profile-badges-list p {
    font-size: 18px;
    color: #666;
}

.mo-profile-badges-list img {
    max-width: 100px;
    height: auto;
    display: block;
    margin-top: 10px;
}

.btn-3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00ecff;
    border-radius: 20px;
    text-align: center;
    font-size: 15px;

}